.elementor-kit-9 {
    --e-global-color-primary: #104B5A;
    --e-global-color-secondary: #F1F7FA;
    --e-global-color-text: #527179;
    --e-global-color-accent: #1F7EC1;
    --e-global-color-accentsecondary: #FFFFFF00;
    --e-global-color-white: #FFFFFF;
    --e-global-color-black: #000000;
    --e-global-color-divider: #104B5A1A;
    --e-global-color-darkdivider: #FFFFFF1A;
    --e-global-color-background: #FFFFFF;
    --e-global-typography-primary-font-family: "Bricolage Grotesque";
    --e-global-typography-primary-font-size: 48px;
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-primary-letter-spacing: -0.02em;
    --e-global-typography-secondary-font-family: "Bricolage Grotesque";
    --e-global-typography-secondary-font-size: 20px;
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-secondary-line-height: 1.1em;
    --e-global-typography-text-font-family: "Manrope";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-line-height: 1.6em;
    --e-global-typography-accent-font-family: "Bricolage Grotesque";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 700;
    --e-global-typography-accent-line-height: 1em;
    background-color: var(--e-global-color-background);
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-kit-9 button,
.elementor-kit-9 input[type="button"],
.elementor-kit-9 input[type="submit"],
.elementor-kit-9 .elementor-button {
    background-color: var(--e-global-color-accent);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
    color: var(--e-global-color-white);
    border-radius: 6px 6px 6px 6px;
    padding: 17px 24px 17px 24px;
}

.elementor-kit-9 button:hover,
.elementor-kit-9 button:focus,
.elementor-kit-9 input[type="button"]:hover,
.elementor-kit-9 input[type="button"]:focus,
.elementor-kit-9 input[type="submit"]:hover,
.elementor-kit-9 input[type="submit"]:focus,
.elementor-kit-9 .elementor-button:hover,
.elementor-kit-9 .elementor-button:focus {
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-white);
}

.elementor-kit-9 h1 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
}

.elementor-kit-9 h2 {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
}

.elementor-kit-9 h3 {
    color: var(--e-global-color-primary);
}

.elementor-kit-9 h4 {
    color: var(--e-global-color-primary);
}

.elementor-kit-9 h5 {
    color: var(--e-global-color-primary);
}

.elementor-kit-9 h6 {
    color: var(--e-global-color-primary);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1500px;
}

.e-con {
    --container-max-width: 1500px;
}

.elementor-widget:not(:last-child) {
    --kit-widget-spacing: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

     

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1440px) {
    .elementor-kit-9 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-9 h1 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-9 h2 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-9 button,
    .elementor-kit-9 input[type="button"],
    .elementor-kit-9 input[type="submit"],
    .elementor-kit-9 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1300px;
    }

    .e-con {
        --container-max-width: 1300px;
    }
}

@media(max-width:1024px) {
    .elementor-kit-9 {
        --e-global-typography-primary-font-size: 36px;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-9 h1 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-9 h2 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-9 button,
    .elementor-kit-9 input[type="button"],
    .elementor-kit-9 input[type="submit"],
    .elementor-kit-9 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
        padding: 15px 18px 15px 18px;
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-9 {
        --e-global-typography-primary-font-size: 24px;
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-kit-9 h1 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-9 h2 {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-kit-9 button,
    .elementor-kit-9 input[type="button"],
    .elementor-kit-9 input[type="submit"],
    .elementor-kit-9 .elementor-button {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}